@media screen and ( min-width: 851px ) {
	.mw-wiki-logo.timeless-logo {
		background-repeat: no-repeat;
		background-position: center center;
		width: 160px;
		height: 160px;
	}

	.mw-wiki-logo.timeless-logo img {
		display: none;
	}
}
